:root {
  --main-color: #007bff;
}

.sectionTitle {
  text-align: center;
  color: var(--main-color);
  font-size: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card__text {
  color: gray;
}
.card__link,
.card__icon {
  color: var(--main-color);
}
.card h3 {
  font-weight: normal;
  margin-top: 0.5rem;
}
