:root {
  --main-color: #007bff;
}

.sectionTitle {
  text-align: center;
  color: var(--main-color);
  font-size: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.card__text {
  color: gray;
}
.card__link,
.card__icon {
  color: var(--main-color);
}
.card h3 {
  font-weight: normal;
  margin-top: 0.5rem;
}
.teamList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.member__name,
.member__occupation {
  padding-left: 0.6rem;
}
.member__name {
  font-weight: normal;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}
.member__occupation {
  text-transform: uppercase;
  color: grey;
  font-size: 0.6rem;
  margin-top: 0;
  letter-spacing: 1px;
}
.subtitle {
  text-align: center;
  letter-spacing: 2px;
  max-width: 600px;
  color: grey;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.sectionTitle {
  margin-bottom: 1rem;
}
.red {
  background-color: red;
  color: white;
  padding-left: 2rem;
}
.blue {
  background-color: blue;
  color: white;
  padding: 2rem;
}
.section2Cards {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  gap: 1rem;
  margin-bottom: 5rem;
}
