.sectionTitle {
  text-align: center;
  color: #007bff;
  font-size: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card__text {
  color: gray;
}
.card__link {
  color: #007bff;
}
.card h3 {
  font-weight: normal;
  margin-top: 1rem;
}
.fa {
  color: #007bff;
}
